<!-- app/views/voiceovers/show.html.erb -->
<h1>Voiceover</h1>

<p><strong>Text:</strong> <%= @voiceover.text %></p>

<% if @voiceover.file.attached? %>
  <p><strong>Audio:</strong></p>
  <audio controls>
    <source src="<%= url_for(@voiceover.file) %>" type="audio/mpeg">
    Your browser does not support the audio element.
  </audio>
  <p><%= link_to "Download Audio", url_for(@voiceover.file), download: true %></p>

  <%#= button_to "Generate Transcription", transcribe_voiceover_path(@voiceover), method: :post %>
<% else %>
  <p>No audio file available.</p>
<% end %>

<% if @voiceover.transcription.present? %>
  <h2 class="font-semibold text-lg">Original Transcription</h2>
  <pre class="overflow-auto"><code><%= @voiceover.transcription %></code></pre>
  <div id="transcription" transcription="<%= @voiceover.transcription %>"></div>
<% end %>

<%= link_to "Create Another Voiceover", new_voiceover_path %>
